<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="sqlserver"
			connectionString="Data Source=MACBOOK\SQLEXPRESS;Initial Catalog=testdb;Integrated Security=True"
			providerName="System.Data.SqlClient"
			/>
		<add
			name="oracle"
			connectionString="whatever"
			providerName="Oracle"
			/>
	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<add name="PetaPoco Oracle Provider" invariant="Oracle" description="PetaPoco Oracle Provider" type="PetaPoco.OracleProvider, PetaPoco" />
		</DbProviderFactories>
	</system.data>
</configuration>