<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="server=jab;database=jab;user id=jab;password=jab;Allow User Variables=true" providerName="MySql.Data.MySqlClient"/>
		<add name="sqlserver" connectionString="Data Source=MACBOOK\SQLEXPRESS;Initial Catalog=testdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="oracle" connectionString="whatever" providerName="Oracle"/>
	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<add name="PetaPoco Oracle Provider" invariant="Oracle" description="PetaPoco Oracle Provider" type="PetaPoco.OracleProvider, PetaPoco"/>
		</DbProviderFactories>
	</system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
