<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="mysql" 
			connectionString="server=db.meg;database=jab;user id=jab;password=jab;Allow User Variables=true" 
			providerName="MySql.Data.MySqlClient"
			/>
		<add 
			name="sqlserver" 
			connectionString="Data Source=MACBOOK\SQLEXPRESS;Initial Catalog=testdb;Integrated Security=True" 
			providerName="System.Data.SqlClient"
			/>
		<add
			name="sqlserverce"
			connectionString="Data Source=C:\Users\bradr\dev\Source\PetaPoco\PetaPoco.Tests\petapoco.sdf"
			providerName="System.Data.SqlServerCe.4.0"
			/>
	</connectionStrings>

	<system.data>
		<DbProviderFactories>

			<add name="System.Data.SqlServerCe"
				 invariant="System.Data.SqlServerCe"
				 description=".Net Framework Data Provider for SQL CE"
				 type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>

		</DbProviderFactories>
	</system.data>

</configuration>