<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="tingofamily"
			connectionString="server=db.dmz.cognethos.com;database=family;user id=famdev;password=famdev1$"
			providerName="MySql.Data.MySqlClient"/>
		<add name="jab"
				connectionString="server=db.meg;database=jab;user id=jab;password=jab;Allow User Variables=true"
				providerName="MySql.Data.MySqlClient"/>
		<add name="localsql"
				 connectionString="Data Source=MACBOOK\SQLEXPRESS;Integrated Security=True"/>

	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
			<!--add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,       Version=6.2.2.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/-->
		</DbProviderFactories>
	</system.data>

</configuration>